doctype html
html(lang='en')
  include ../common/head.pug
  +head("MyShopApp")
  body
    header
    include ../common/navbar.pug 
    +navbar(user)
    .container
      h1= title
        if message
            p.text-success #{message}
      form(action='/add_supplier',method='POST')
            if products.length>0 
             .formgroup
                lable.small.mb-1.mt-3 Товар:
                input(id="product"  name='product' list="prods").form-control
                datalist(id="prods")
                            for prod in products
                                option(value=prod.id_product) #{prod.name}
                lable.small.mb-1.mt-3 Склад:
                input(id="address"  name='address' list="addresses").form-control
                datalist(id="addresses")
                            for store in storages
                                option(value=store.id_store) #{store.adress}
                button.mt-3.btn.btn-primary(type='submit') Добавить
            else
              h1.text-danger Все продукты раcфасованы по складам

    include ../common/footer.pug
    +footer()