doctype html
html(lang='en')
  include ../common/head.pug
  +head("MyShopApp")
  body
    header
    include ../common/navbar.pug 
    +navbar(user)
    .container
      h1= title
      p Welcome to #{title}

      form(action='/order',method='POST')
          .formgroup
              lable.small.mb-1.mt-3 Товар:
                    input(id="product"  name='product' list="products").form-control
                    datalist( id="products")
                       if products
                          for product in products
                              option(value=product.name) #{product.id}
              lable.small.mb-1.mt-3 Количество:
              input(placeholder='Count', required=true, name='count', type='text').form-control
              button.mt-3.btn.btn-primary(type='submit') Вход
    include ../common/footer.pug
    +footer()
