doctype html
html(lang='en')
  include common/head.pug
  +head("MyShopApp")
  body
    header
    include common/navbar.pug 
    +navbar(user)
    .container.text-center
      h1= title
      if message
        h2.text-success #{message}
      p Welcome to #{title}      
      if user 
        h3 Вы вошли как:  #{user.username}
      else
        h3.text-danger Зарегистрируйтесь чтобы сделать заказ
      .container
        if products
          .row.row-cols-3
            for prod in products
              .col.card(style='width: 18rem;')
                img.card-img-top(src='/images/no.png' alt=prod.name)
                .card-body
                  h5.card-title.text-danger #{prod.name}
                  p.card-text.text-info Категория: #{prod.cat_name}
                  p.card-text.text-warning Поставщик: #{prod.sup_name}
                  if user
                    a.btn.btn-primary(href='/order')  Заказать



  include common/footer.pug
  +footer()